APScheduler==3.6.3
astroid==2.4.2
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
colorama==0.4.3
cryptography==41.0.3
decorator==4.4.2
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.9.1
mccabe==0.6.1
peewee==3.13.3
pycparser==2.20
pylint==2.5.3
python-telegram-bot==12.8
pytz==2020.1
requests==2.31.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tornado==6.3.2
tzlocal==2.1
urllib3==1.26.5
wrapt==1.12.1
